@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Bevan);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
*{
	font-family: Montserrat ;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.container{
    
}

.navbar-custom .icon-bar {
    background-color:#fff;
    font-family: Bevan;
}

.navbar-custom {

    background-color: /*#0072C6*/ #00A6FF;

}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
    background-color: /*#0072C6*/ #00A6FF;


}

.navbar-custom a{
    color: white;
	font-fam|ily:Bree+Serif;	
}
/*Color font active*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
	 color: #B9B9B1;
	 background-color: transparent;
}
/*Color font of menu*/
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a {	
	color: white;
}
.navbar-inverse{
	border-color:#00A6FF;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #B9B9B1;
	background-color: transparent;
}

.dropdown-menu>li>a{
	color: #4D4D4D;
}
.carousel{
	margin-bottom: 30px;
}

.featurette-divider{
	margin:0;	
}
hr{
	margin: 0;
}

.content{
	margin-top: 50px;
}

@media( min-width: 980px){
 
}

.border-right{
	border-right: 1px solid #EEEEEE;
}
.border-left{
	border-left: 1px solid #EEEEEE;
}

.border-top{
    border-top: 1px solid #EEEEEE;
}
.border-bottom{
    border-bottom: 1px solid #EEEEEE;
}

.input-group[class*=col-] {
	padding-right: 15px;
	padding-left: 15px;
}

#map_canvas {
    width:100% ;
    height:calc(100% -0);
    //position:absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    overflow:hidden;
}
.map{
	width: 700px;
	height: 500px;
}

#setlocation{

}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table{
    font-size: 1em;
}

.preview-videos{
    width: 100%;
    height: 200px;
}
.no-padding{
    padding: 0;
}
.oblique{
    font-style: oblique;
}
.no-margin{
    margin: 0px;
}

.active-nav{
    background-color: #0098E9;
}

#map_canvas2 {
    width:100% ;
    position:absolute;
    overflow:hidden;
}

.img-max-list{
    max-height: 160px;
    max-width: 160px;
}
.img-max-show{
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: auto;
}
.member-photo{
    max-height: auto;
    max-width: 100%;
}
.show-image {
    position: relative;
    //float:left;
    //margin-left:5px;
    background-color:rgba(0, 0, 0, 1)
}
.show-image:hover img{
    opacity:0.5; 
}
.show-image a {
    position:absolute;
    display:none;
}

.show-image:hover a {
    display: block;
    top:0;
    left:0;
}


.modal-body-image{
    width: 100%;
    height: auto;
}
.modal-body{
    width: 100%;
}
.modal-body-map{
    padding: 0;
}
.map_event{
    min-height: 350px;
    max-height: 700px;
}
.photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  box-shadow: 0 0 10px #000;
}

.img-same-size{
    position: relative;
    float: left;
    width:  180px;
    height: 160px;    
    background-repeat:   no-repeat;
    background-size:     cover;
}
.video-youtube{
    box-shadow: 0 0 10px #000;
}

#links{
  position: relative;
}
.img-same-size {
 
  clip: rect(0, 100px, 100px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}
 
.sub-active{  
    background-color:  red;
    border:2px solid #00A6FF;
}  

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-right { 
    margin-left:auto;
    margin-right:auto; 
    max-width :40%;   
    float:none !important;
}
.full-width{
    width: 100%;
    margin-bottom: 5px;    
}
@media (min-width: 980px) {
    .caption{
        padding: 0px;
    }
    .full-width{
        width: 100%;
        margin-bottom: 5px;    
    }
    .map_event{
        min-height: 500px;
        max-height: 700px;
    }
}

.img-shadow{
    box-shadow: 0 0 8px #000;
}
 
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.img-responsive{
    
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.col-center {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.absolute{
    position: absolute;
}
i{
    margin-right: 5px;
}